-- ============================================================
-- Migraci├│n 013: Cat├ílogo de Servicios
-- ============================================================

CREATE TABLE IF NOT EXISTS catalogo_servicios (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  codigo      VARCHAR(50) UNIQUE NOT NULL,
  nombre      TEXT NOT NULL,
  descripcion TEXT,
  precio_base DECIMAL(12,2) DEFAULT 0,
  unidad      VARCHAR(50) DEFAULT 'hora',
  is_active   BOOLEAN DEFAULT TRUE,
  created_at  TIMESTAMPTZ DEFAULT NOW(),
  updated_at  TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_catalogo_servicios_activo ON catalogo_servicios(is_active);

-- Datos iniciales de ejemplo
